.nav {
    background-color: #fefcdd;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #6e757b;
    gap: 30px;
}

#link {
    color: #d48ac1;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 10px;
    flex-wrap: nowrap;
}

.logo {
    height: 40px;
    width: 40px;
    padding-right: 910px;
}

#welcome {
    font-size: 30px;
    font-weight: bold;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}